.cookbook{
    padding: 0 40px;
    margin: 40px auto;
    min-width: 300px;
    width: 45%;
    text-align: center;

    &__title{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 50px;
        text-align: center;
    }
}