$bright: #df4949;
$base: #45b29d;

.cookbook-list__recipe:nth-child(odd) {
  background: darken(#3ea08d, 5%);
}

.cookbook-list {
  margin-top: 25px;
  &__recipe {
    height: 50px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  &__recipe:hover {
    background: $bright;
  }
}

.cookbook-list__recipe_open {
  height: 300px;
  background-color: #4aa794;
}
.recipe-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.recipe-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 3px solid $base;
  width: 100%;
  padding: 0 20px;
}
.recipe-name {
  margin-right: 20px;
}

.recipe-more {
  margin-left: auto;
}
.fa-plus {
  margin-right: 10px;
}
.recipe-control {
  align-items: center;
  width: 150px;
  display: flex;
  justify-content: space-around;
}

.recipe-update {
  border-right: 3px solid #45b29d;
}

.add-recipe {
  border: 4px solid #21323b;
  background-color: #334d5c;
  padding: 15px 10px;
  border-radius: 15px;
  font-size: 20px;
  color: #fff;
}

.btn {
  font-size: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}

.recipe-body {
  height: 250px;
  width: 100%;
  overflow-x: hidden;
}

.recipe-history__item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid;
  padding: 10px 20px;
}

.recipe-history__description {
  align-self: end;
}

@keyframes wiggle {
  25% {
    transform: rotate(-3deg);
  }

  75% {
    transform: rotate(3deg);
  }
}

@keyframes bounceOut {
  20% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-999px);
  }

  60% {
    transform: translateY(200px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fa-trash-alt,
.fa-edit,
.fa-caret-square-down,
.add-recipe {
  cursor: pointer;
  &:hover {
    animation: wiggle 0.4s linear infinite;
  }
}

.item-enter {
  animation: slideIn 0.4s ease-in-out;
}

.item-leave {
  animation: bounceOut 0.4s linear;
}

.item-open {
  animation: open 0.4s linear;
}
